<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	   http://www.springframework.org/schema/context
	   http://www.springframework.org/schema/context/spring-context-4.2.xsd
	   http://www.springframework.org/schema/aop
	   http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
	   http://www.springframework.org/schema/tx
	   http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	   http://code.alibabatech.com/schema/dubbo
	   http://code.alibabatech.com/schema/dubbo/dubbo.xsd
	   http://www.springframework.org/schema/util
	   http://www.springframework.org/schema/util/spring-util-4.2.xsd">
    <!--扫描-->
    <context:component-scan base-package="com.taotao.service"></context:component-scan>

    <!-- 使用dubbo发布服务 -->
    <!-- 名字不能够重复，和随便，用于计算依赖关系，服务调用的情况 -->
    <dubbo:application name="taotao-manager" />
    <!-- 使用zookeeper注册协议  -->
    <dubbo:registry protocol="zookeeper" address="192.168.25.128:2181" />
    <!-- 使用dubbo协议，暴露服务的端口 -->
    <dubbo:protocol name="dubbo" port="20880" />
    <!-- 发布服务 -->
    <dubbo:service interface="com.taotao.service.TestService" ref="testServiceImpl" timeout="3000000"/>
    <dubbo:service interface="com.taotao.service.ItemService" ref="itemServiceImpl" timeout="3000000"/>
    <!--<dubbo:service interface="com.taotao.service.ItemCatService" ref="itemCatServiceImpl" />-->
</beans>

